@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --line-color:#DBEAFE;
}

#experience {
    z-index: 1;
}

.vertical-timeline-element-content{
    background-color: #F5F3FF;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.vertical-timeline-element-title {
    color: rgb(24 24 27);
    font-size: 1em;
    font-weight: 600;
}

.vertical-timeline-element-subtitle {
    color: rgb(63 63 70);
    font-size: 0.9em;
}

#description {
    color: rgb(63 63 70);
    font-size: 0.9em;
    text-align: left;
}